<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="s3appkey" value="" />
    <add key="s3secretkey" value="" />
    <add key="s3containername" value="" />
    
    <add key="rsusername" value="" />
    <add key="rsapikey" value="" />
    <add key="rscontainername" value="" />
  </appSettings>
</configuration>